<p id="notice"><%= notice %></p>



    <% @posts.each do |post| %>
        <%= link_to post.title, post %>
        <p align="right">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
        <hr>
    <% end %>


